@font-face {
    font-family: "bliss-deprecated";
    src: url("../webfonts/deprecated.eot?cbef20e62dce653cf6bb1be2222c1c4d#iefix") format("embedded-opentype"),
    url("../webfonts/deprecated.ttf?cbef20e62dce653cf6bb1be2222c1c4d") format("truetype"),
    url("../webfonts/deprecated.svg?cbef20e62dce653cf6bb1be2222c1c4d#deprecated") format("svg"),
    url("../webfonts/deprecated.woff?cbef20e62dce653cf6bb1be2222c1c4d") format("woff"),
    url("../webfonts/deprecated.woff2?cbef20e62dce653cf6bb1be2222c1c4d") format("woff2");
}

i[class^="bs-"]:before, i[class*=" bs-"]:before {
    font-family: bliss-deprecated !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bs-12375:before, .bs-angel_OLD:before {
    content: "\f101";
}
.bs-12602:before, .bs-away-at_a_distance-off_OLD:before {
    content: "\f102";
}
.bs-12624:before, .bs-band-orchestra_OLD:before {
    content: "\f103";
}
.bs-12641:before, .bs-beach_tennis_activity_OLD:before {
    content: "\f104";
}
.bs-12670:before, .bs-beyond-past_OLD:before {
    content: "\f105";
}
.bs-12878:before, .bs-boss-supervisor_OLD:before {
    content: "\f106";
}
.bs-12883:before, .bs-bowel-intestine_OLD:before {
    content: "\f107";
}
.bs-13090:before, .bs-bus_stop-bus_bay_OLD:before {
    content: "\f108";
}
.bs-13118:before, .bs-candy_OLD:before {
    content: "\f109";
}
.bs-13146:before, .bs-certain_OLD:before {
    content: "\f10a";
}
.bs-13155:before, .bs-cheap_OLD:before {
    content: "\f10b";
}
.bs-13171:before, .bs-chocolate_OLD:before {
    content: "\f10c";
}
.bs-13172:before, .bs-chocolate_drink_OLD:before {
    content: "\f10d";
}
.bs-13173:before, .bs-chocolate_flavouring-cocoa-cacao_powder_OLD:before {
    content: "\f10e";
}
.bs-13174:before, .bs-chocolate_spread_OLD:before {
    content: "\f10f";
}
.bs-13356:before, .bs-clean_OLD:before {
    content: "\f110";
}
.bs-13394:before, .bs-computer_OLD:before {
    content: "\f111";
}
.bs-13399:before, .bs-conductor_music_OLD:before {
    content: "\f112";
}
.bs-13428:before, .bs-court-field_OLD:before {
    content: "\f113";
}
.bs-13437:before, .bs-crash_air-plane_crash-air_crash_OLD:before {
    content: "\f114";
}
.bs-13438:before, .bs-crash_car-car_crash_OLD:before {
    content: "\f115";
}
.bs-13634:before, .bs-dark_OLD:before {
    content: "\f116";
}
.bs-13650:before, .bs-decoration_OLD:before {
    content: "\f117";
}
.bs-13654:before, .bs-Denmark_OLD:before {
    content: "\f118";
}
.bs-13681:before, .bs-dinosaur_OLD:before {
    content: "\f119";
}
.bs-13684:before, .bs-disability-handicap-impairment_OLD:before {
    content: "\f11a";
}
.bs-13880:before, .bs-dried_bean_OLD:before {
    content: "\f11b";
}
.bs-13887:before, .bs-dry_OLD:before {
    content: "\f11c";
}
.bs-13888:before, .bs-dry-to_OLD:before {
    content: "\f11d";
}
.bs-13905:before, .bs-easy_OLD:before {
    content: "\f11e";
}
.bs-13921:before, .bs-electric_wire-electric_cord-cord-cable-lead_OLD:before {
    content: "\f11f";
}
.bs-13932:before, .bs-empty_OLD:before {
    content: "\f120";
}
.bs-13933:before, .bs-empty-to_OLD:before {
    content: "\f121";
}
.bs-14129:before, .bs-expensive_OLD:before {
    content: "\f122";
}
.bs-14150:before, .bs-far-distant_OLD:before {
    content: "\f123";
}
.bs-14156:before, .bs-fat-thick_OLD:before {
    content: "\f124";
}
.bs-14171:before, .bs-few-little_OLD:before {
    content: "\f125";
}
.bs-14376:before, .bs-follow-to_OLD:before {
    content: "\f126";
}
.bs-14398:before, .bs-French_fries-chips_OLD:before {
    content: "\f127";
}
.bs-14400:before, .bs-Friday_OLD:before {
    content: "\f128";
}
.bs-14436:before, .bs-ghost_OLD:before {
    content: "\f129";
}
.bs-14462:before, .bs-government_OLD:before {
    content: "\f12a";
}
.bs-14645:before, .bs-grocery_store-food_store-supermarket_OLD:before {
    content: "\f12b";
}
.bs-14656:before, .bs-gym-gymnasium_OLD:before {
    content: "\f12c";
}
.bs-14657:before, .bs-gym_mat_OLD:before {
    content: "\f12d";
}
.bs-14662:before, .bs-Halloween_OLD:before {
    content: "\f12e";
}
.bs-14664:before, .bs-hamburger_OLD:before {
    content: "\f12f";
}
.bs-14679:before, .bs-hard_OLD:before {
    content: "\f130";
}
.bs-14683:before, .bs-hate-to_OLD:before {
    content: "\f131";
}
.bs-14686:before, .bs-hawk-eagle_OLD:before {
    content: "\f132";
}
.bs-14694:before, .bs-hearing-impaired_OLD:before {
    content: "\f133";
}
.bs-14699:before, .bs-hedgehog_OLD:before {
    content: "\f134";
}
.bs-14703:before, .bs-helmet_OLD:before {
    content: "\f135";
}
.bs-14920:before, .bs-ice_cream_OLD:before {
    content: "\f136";
}
.bs-14931:before, .bs-improve-to_OLD:before {
    content: "\f137";
}
.bs-14940:before, .bs-infinite-limitless_OLD:before {
    content: "\f138";
}
.bs-15156:before, .bs-kitten_OLD:before {
    content: "\f139";
}
.bs-15203:before, .bs-lie_OLD:before {
    content: "\f13a";
}
.bs-15204:before, .bs-lie-to_OLD:before {
    content: "\f13b";
}
.bs-15213:before, .bs-limits-limitation_OLD:before {
    content: "\f13c";
}
.bs-15395:before, .bs-lose_fail_to_win-to_OLD:before {
    content: "\f13d";
}
.bs-15457:before, .bs-disabled-handicapped_intellectually-mentally_OLD:before {
    content: "\f13e";
}
.bs-15470:before, .bs-milkshake_OLD:before {
    content: "\f13f";
}
.bs-15483:before, .bs-Monday_OLD:before {
    content: "\f140";
}
.bs-15676:before, .bs-muscle_OLD:before {
    content: "\f141";
}
.bs-15709:before, .bs-never_OLD:before {
    content: "\f142";
}
.bs-15725:before, .bs-none-nothing_OLD:before {
    content: "\f143";
}
.bs-16170:before, .bs-disabled-handicapped_physically_OLD:before {
    content: "\f144";
}
.bs-16174:before, .bs-pier_OLD:before {
    content: "\f145";
}
.bs-16183:before, .bs-table_tennis-ping-pong_activity_OLD:before {
    content: "\f146";
}
.bs-16198:before, .bs-stop-platform_vehicle_OLD:before {
    content: "\f147";
}
.bs-16222:before, .bs-porcupine_OLD:before {
    content: "\f148";
}
.bs-16231:before, .bs-potato_chips-crisps_OLD:before {
    content: "\f149";
}
.bs-16239:before, .bs-preceding_OLD:before {
    content: "\f14a";
}
.bs-16424:before, .bs-prune_OLD:before {
    content: "\f14b";
}
.bs-16460:before, .bs-raisins_OLD:before {
    content: "\f14c";
}
.bs-16476:before, .bs-refrigerator_OLD:before {
    content: "\f14d";
}
.bs-16483:before, .bs-religion-naturalism_OLD:before {
    content: "\f14e";
}
.bs-16484:before, .bs-religious_OLD:before {
    content: "\f14f";
}
.bs-16485:before, .bs-remember-to_OLD:before {
    content: "\f150";
}
.bs-16682:before, .bs-rocking_horse_OLD:before {
    content: "\f151";
}
.bs-16706:before, .bs-sail_OLD:before {
    content: "\f152";
}
.bs-16707:before, .bs-sailboat_OLD:before {
    content: "\f153";
}
.bs-16712:before, .bs-salty_OLD:before {
    content: "\f154";
}
.bs-16722:before, .bs-Saturday_OLD:before {
    content: "\f155";
}
.bs-16723:before, .bs-sauce-gravy-relish-dressing_OLD:before {
    content: "\f156";
}
.bs-16961:before, .bs-shopping_centre_OLD:before {
    content: "\f157";
}
.bs-16978:before, .bs-sign_OLD:before {
    content: "\f158";
}
.bs-17014:before, .bs-slow-slowly_OLD:before {
    content: "\f159";
}
.bs-17197:before, .bs-snowshoe_OLD:before {
    content: "\f15a";
}
.bs-17222:before, .bs-spaghetti_OLD:before {
    content: "\f15b";
}
.bs-17225:before, .bs-speech_impaired_OLD:before {
    content: "\f15c";
}
.bs-17234:before, .bs-sport_OLD:before {
    content: "\f15d";
}
.bs-17253:before, .bs-starfish_OLD:before {
    content: "\f15e";
}
.bs-17269:before, .bs-store_OLD:before {
    content: "\f15f";
}
.bs-17447:before, .bs-stupid-dumb_OLD:before {
    content: "\f160";
}
.bs-17464:before, .bs-Sunday_OLD:before {
    content: "\f161";
}
.bs-17470:before, .bs-surprise-to_OLD:before {
    content: "\f162";
}
.bs-17522:before, .bs-tennis_activity_OLD:before {
    content: "\f163";
}
.bs-17706:before, .bs-therapist_OLD:before {
    content: "\f164";
}
.bs-17728:before, .bs-Thursday_OLD:before {
    content: "\f165";
}
.bs-17735:before, .bs-tired-exhausted-weary_OLD:before {
    content: "\f166";
}
.bs-17762:before, .bs-towel_OLD:before {
    content: "\f167";
}
.bs-17790:before, .bs-Tuesday_OLD:before {
    content: "\f168";
}
.bs-17976:before, .bs-unfold-to_OLD:before {
    content: "\f169";
}
.bs-17984:before, .bs-up_and_down_OLD:before {
    content: "\f16a";
}
.bs-18019:before, .bs-visually_impaired_OLD:before {
    content: "\f16b";
}
.bs-18216:before, .bs-Wednesday_OLD:before {
    content: "\f16c";
}
.bs-18265:before, .bs-wire-cable_OLD:before {
    content: "\f16d";
}
.bs-20523:before, .bs-salt_OLD:before {
    content: "\f16e";
}
.bs-20602:before, .bs-tennis-racquet_sports_OLD:before {
    content: "\f16f";
}
.bs-20603:before, .bs-table_tennis-ping-pong_sport_OLD:before {
    content: "\f170";
}
.bs-20604:before, .bs-beach_tennis_sport_OLD:before {
    content: "\f171";
}
.bs-21332:before, .bs-eternal_OLD:before {
    content: "\f172";
}
.bs-21552:before, .bs-psychology_OLD:before {
    content: "\f173";
}
.bs-21586:before, .bs-psychologist_researcher_OLD:before {
    content: "\f174";
}
.bs-21587:before, .bs-psychologist_OLD:before {
    content: "\f175";
}
.bs-21588:before, .bs-psychology_teacher_OLD:before {
    content: "\f176";
}
.bs-21845:before, .bs-long_jump_OLD:before {
    content: "\f177";
}
.bs-22101:before, .bs-squash_sport_OLD:before {
    content: "\f178";
}
.bs-22102:before, .bs-lacrosse_sport_OLD:before {
    content: "\f179";
}
.bs-22822:before, .bs-Loki_OLD:before {
    content: "\f17a";
}
.bs-23071:before, .bs-distance_OLD:before {
    content: "\f17b";
}
.bs-23161:before, .bs-odometer_OLD:before {
    content: "\f17c";
}
.bs-23449:before, .bs-computer_game_OLD:before {
    content: "\f17d";
}
.bs-23827:before, .bs-burned_out-burnt_out_OLD:before {
    content: "\f17e";
}
.bs-23836:before, .bs-chronic_fatigue_syndrome_OLD:before {
    content: "\f17f";
}
.bs-23870:before, .bs-exhausted-worn_out_OLD:before {
    content: "\f180";
}
.bs-23948:before, .bs-sit_ski_OLD:before {
    content: "\f181";
}
.bs-24202:before, .bs-organ_body_OLD:before {
    content: "\f182";
}
.bs-24213:before, .bs-placenta_OLD:before {
    content: "\f183";
}
.bs-24416:before, .bs-binoculars-field_glass_OLD:before {
    content: "\f184";
}
.bs-24428:before, .bs-control_OLD:before {
    content: "\f185";
}
.bs-24430:before, .bs-disability_benefit_OLD:before {
    content: "\f186";
}
.bs-24601:before, .bs-adventure_OLD:before {
    content: "\f187";
}
.bs-24606:before, .bs-band_of_frequencies_OLD:before {
    content: "\f188";
}
.bs-24614:before, .bs-broadband_OLD:before {
    content: "\f189";
}
.bs-24629:before, .bs-corruption_OLD:before {
    content: "\f18a";
}
.bs-24648:before, .bs-empower-to_OLD:before {
    content: "\f18b";
}
.bs-24649:before, .bs-empowered_OLD:before {
    content: "\f18c";
}
.bs-24650:before, .bs-empowerment_OLD:before {
    content: "\f18d";
}
.bs-24718:before, .bs-power-powerfulness_OLD:before {
    content: "\f18e";
}
.bs-24719:before, .bs-powerful-mighty_OLD:before {
    content: "\f18f";
}
.bs-24782:before, .bs-wireless_connection-WIFI_OLD:before {
    content: "\f190";
}
.bs-24856:before, .bs-improvement_OLD:before {
    content: "\f191";
}
.bs-24892:before, .bs-eternity-infinity_OLD:before {
    content: "\f192";
}
.bs-24896:before, .bs-farness-remoteness-farawayness_OLD:before {
    content: "\f193";
}
.bs-24915:before, .bs-infiniteness-boundlessness-limitlessness_OLD:before {
    content: "\f194";
}
.bs-25283:before, .bs-Danish_language_OLD:before {
    content: "\f195";
}
.bs-25288:before, .bs-electric_conductor_OLD:before {
    content: "\f196";
}
.bs-25542:before, .bs-crossed_racquets_OLD:before {
    content: "\f197";
}
.bs-25561:before, .bs-fatness-thickness_OLD:before {
    content: "\f198";
}
.bs-25623:before, .bs-three_Danish_waters_OLD:before {
    content: "\f199";
}
.bs-25693:before, .bs-dictator_OLD:before {
    content: "\f19a";
}
.bs-26101:before, .bs-democracy_OLD:before {
    content: "\f19b";
}
